<!DOCTYPE html>
<html lang="en">
<head>
<!--  Load CSS in Flask with html-->
    <link rel="stylesheet" href='style.css' />
 
  </head>
  <body>
    <form action="/" method="post">

        <h1>Controlar Aranha:</h1>
        <input type="submit" value="Forward" name="command" id="top"/> <br>
        <input type="submit" value="Left" name="command"/>
        <input type="submit" value="Backward" name="command"/>
        <input type="submit" value="Right" name="command"/> <br><br><br><br>
        <input type="submit" value="TiltF" name="command" id="top"/> <br>
        <input type="submit" value="TiltL" name="command"/>
        <input type="submit" value="TiltB" name="command"/> 
        <input type="submit" value="TiltR" name="command"/> <br><br><br><br>
        <input type="submit" value="Dance" name="command"/>
        <input type="submit" value="Stop" name="command"/>
    </form>
  </body>
</html>